#aboutMe{
  font-family: orbitron;
  color: lightgray;
  width: 75%;
  margin-left: 15px;
}
.aboutMePara{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-left: 15px;
}

/* Hobbies */

.display-3{
  font-family: orbitron;
  font-size: 45px;
  color: lightgray;

}

#accordionExample{
  font-family: orbitron;
  margin-left: 15px;
}

.accordion-body{
  font-family: 'Courier New', Courier, monospace;
}

