.landingScreen{
  padding-top: 400px;
  padding-bottom: 400px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.landingScreen:hover{
  transform: scale(1.6);
  color: red;
}




.landingSecondaryText{
  font-family: orbitron;
}

.display-1{
  font-family: orbitron;
  color: lightgray;
}

#aboutMeandHobbies{
  font-family: orbitron;
  color: lightgray
}